<h1>Popup Calendars</h1>

<h2>No Time</h2>
<p>
  <%= calendar_date_select_tag "p_date" %>
</p>


<pre>
&lt;%= calendar_date_select_tag "p_date" %&gt;
</pre>

<hr />
<h2>With time</h2>
<p>
  <%= calendar_date_select_tag "p_date_and_time", nil, :time => true %>
</p>


<pre>
&lt;= calendar_date_select_tag "p_date_and_time", nil, :time => true  %&gt;
</pre>

<hr />
<h2>With default time</h2>

<p>
  calendar_date_select_tag lets you define default time using JavaScript Date object or Ruby Time object. 
</p>

<p>
  <%= calendar_date_select_tag "p_date_and_time", nil, :time => true, :default_time => "new Date('Feb 18, 2007 5:45 pm')" %>
</p>


<pre>
&lt;= calendar_date_select_tag "p_date_and_time", nil, :time => true,
        :default_time => "new Date('Feb 18, 2007 5:45 pm')" %&gt;
</pre>

<h4>or</h4>

<p>
  <%= calendar_date_select_tag "p_date_and_time", nil, :default_time => Time.parse("January 2, 2007 5:00 PM") %>
</p>

<pre>
&lt;= calendar_date_select_tag "p_date_and_time", nil,
        :default_time => Time.parse("January 2, 2007 5:00 PM") %&gt;
</pre>